# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.env

# Test files
test_downloads/
test_thumb.png
story.mp4

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temp
*.tmp
*.log
